/* The side navigation menu */
.sidemenu {
  height: 100%; /* 100% Full-height */
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 100; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidemenu */
}

/* The navigation menu links */
.sidemenu > a {
  width: 250px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidemenu (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidemenu {padding-top: 15px;}
  .sidemenu a {font-size: 18px;}
}
