/* more general classes borrowed from tachyons */
.absolute { position: absolute }
.relative { position: relative }
.pointer:hover { cursor: pointer }
.db { display: block }
.dn { display: none }
.tr { text-align: right }
.bold { font-weight: bold }
/* specific classes */
#container-box {
}
.flex-row {
  display: flex;
}
.flex-left {
  width: 50%;
}
.flex-right {
  width: 50%;
  text-align: right;
  font-size: 0.9em;
}
.checkbox {
  -webkit-text-size-adjust: 100%;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  box-sizing: border-box;
  padding: 0;
  border-color: #999;
  margin-right: .5rem;
}
.select-dropdown-button {
  font-family: inherit;
  font-size: 90%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  -webkit-appearance: button;
  outline: 0;
  border: solid 1px #777;
  border-radius: .25rem;
  display: inline-block;
  letter-spacing: .05em;
  width: 100%;
  background-color: transparent;
  padding: .5rem;
  margin-bottom: .25rem;
  text-transform: uppercase;
  cursor: pointer;
}
.select-dropdown-wrapper {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  line-height: 1.225;
  list-style: none;
  box-sizing: border-box;
}
.select-dropdown-wrapper > button {
  font-family: inherit;
  font-size: 90%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  -webkit-appearance: button;
  outline: 0;
  border-right: solid 1px #777;
  border-left: solid 1px #777;
  border-radius: .25rem;
  width: 100%;
  background-color: transparent;
  padding: 0;
  text-transform: uppercase;
}
.select-dropdown-wrapper > button.single {
  border-top: solid 1px #777;
  border-bottom: solid 1px #777;
}
.select-dropdown-wrapper > button.top {
  border-top: solid 1px #777;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-width: 0;
}
.select-dropdown-wrapper > button.bottom {
  border-bottom: solid 1px #777;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-width: 0;
}
.select-dropdown-wrapper > button.center {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-width: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-width: 0;
}
.select-dropdown-wrapper > button > div {
  font-family: inherit;
  line-height: 1.15;
  text-transform: uppercase;
  font-size: 1em;
  box-sizing: border-box;
  padding: .25rem;
  opacity: 1;
  transition: background-color .15s ease-in-out, opacity .15s ease-in-out;
  -webkit-transition: background-color .15s ease-in-out, opacity .15s ease-in-out;
  -moz-transition: background-color .15s ease-in-out, opacity .15s ease-in-out;
  -ms-transition: background-color .15s ease-in-out, opacity .15s ease-in-out;
  -o-transition: background-color .15s ease-in-out, opacity .15s ease-in-out;
}
.select-dropdown-wrapper > button > div:hover {
  opacity: 0.5;
}
div.button-wrapper {
  margin-top: 0.5em;
}
div.button-wrapper > button {
  font-family: inherit;
  font-size: 90%;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  -webkit-appearance: button;
  outline: 0;
  border: solid 1px;
  border-radius: .25rem;
  letter-spacing: .1em;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: .25rem;
  opacity: 1;
  transition: opacity .15s ease-in;
  -webkit-transition: opacity .15s ease-in;
  -moz-transition: opacity .15s ease-in;
  -ms-transition: opacity .15s ease-in;
  -o-transition: opacity .15s ease-in;
  cursor: pointer;
}
div.button-wrapper > button:hover {
  opacity: 0.7;
}
.notice {
  font-weight: 400;
  line-height: 1.5;
  font-family: inherit;
  box-sizing: border-box;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
  border-radius: .25rem;
  width: 100%;
  margin-bottom: .5rem;
  text-align: center;
  background-color: #ddffff;
  color: #333;
  padding: 3px;
}
.notice > p {
  padding: 0;
  margin: 0;
}
.notice > p:before {
  content: "! ";
  font-weight: bold;
}
.listing-title {
  color: #474747;
  line-height: 1.5;
  box-sizing: border-box;
  font-weight: 700;
  padding-top: .5rem;
  text-transform: uppercase;
}
.pill-wrapper {
  font-weight: 400;
  line-height: 1.5;
  box-sizing: border-box;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #999;
  float: left;
  width: 100%;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-bottom: .5rem;
}
.pill-wrapper:after, .pill-wrapper:before { /* clear float magic */
  content: " ";
  display: table;
}
.pill {
  font-weight: 400;
  line-height: 1.5;
  font-family: inherit;
  white-space: nowrap;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-radius: 9999px;
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: .25rem;
}
.close-button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  outline: 0;
  border-style: none;
  border-width: 0;
  top: 0;
  right: 0;
  position: absolute;
  color: #555;
  background-color: transparent;
  padding: .25rem;
  text-decoration: none;
  opacity: 1;
  transition: opacity .15s ease-out;
  cursor: pointer;
}
.close-button:hover {
  opacity: 0.5;
}
#quantityModal {
  font-weight: 400;
  line-height: 1.5;
  font-size: 90%;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-radius: .25rem;
  width: 100%;
  position: absolute;
  opacity: 0;
  background-color: white;
  padding: .25rem;
  z-index: 9999;
}
#quantityModal .listing-title {
  text-align: center;
}
#quantityModal .listing-wrapper {
}
#quantityModal .input-wrapper {
  margin-bottom: 0.2em;
}
#quantityModal .input-title {
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
  font-family: inherit;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  outline: 0;
  border-color: #333;
  border-style: solid;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  border-radius: .25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 0;
  -webkit-appearance: none;
  width: 65%;
  padding: .5rem;
  box-sizing: border-box;
}
#quantityModal .input-quantity {
  -webkit-text-size-adjust: 100%;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  border-color: #333;
  border-style: solid;
  border-width: 1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-appearance: none;
  width: 15%;
  padding: .5rem;
  box-sizing: border-box;
}
#quantityModal .input-price {
  -webkit-text-size-adjust: 100%;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  outline: 0;
  border-color: #333;
  border-style: solid;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-radius: .25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
  -webkit-appearance: none;
  width: 20%;
  padding: .5rem;
  box-sizing: border-box;
}
.popup-container {
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
  line-height: 1.5;
  font-size: 100%;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: #111;
  border-radius: .25rem;
  width: 100%;
  position: absolute;
  opacity: 0;
  background-color: #ffffff;
  padding: 1rem;
}
