.fg-streamside-blue {
  color: #162842;
}
.bg-streamside-blue {
  background-color: #162842;
}
.b--streamside-blue {
  border-color: #162842;
}
.fg-streamside-maroon {
  color: #4e1018;
}
.bg-streamside-maroon {
  background-color: #4e1018;
}
.b--streamside-maroon {
  border-color: #4e1018;
}
.fg-streamside-orange {
  color: #b55103;
}
.bg-streamside-orange {
  background-color: #b55103;
}
.b--streamside-orange {
  border-color: #b55103;
}
.fg-streamside-green {
  color: #332912;
}
.bg-streamside-green {
  background-color: #332912;
}
.b--streamside-green {
  border-color: #332912;
}
