<nav class="w-100 tc white fixed bg-dark-gray z-3 shadow-5">
  <input type="checkbox" id="burger" class="absolute top-2 right-1 dn">
  <label for="burger" class="dn-l pointer absolute top-1 right-1">
    <i class="fa fa-bars near-black dib f3"></i>
  </label>
  <ul class="overflow-hidden menu db-l w-100 list tc pl0 pv3 mv0 f3 fw3 f5-l">
    <li class="ph4 di-l pv2 tl pv0-l"><a class="link dim white dib mr3" href="/orders" title="Orders">Orders</a></li>
    <li class="ph4 di-l pv2 tl pv0-l"><a class="link dim white dib mr3" href="/boxes" title="Boxes">Boxes</a></li>
    <li class="ph4 di-l pv2 tl pv0-l"><a class="link dim white dib mr3" href="/settings" title="Settings">Settings</a></li>
    <!--
    <li class="ph4 di-l pv2 tl pv0-l"><a class="link dim white dib mr3" href="/packing-lists" title="Packing Lists">Packing Lists</a></li>
    <li class="ph4 di-l pv2 tl pv0-l"><a class="link dim white dib mr3" href="/todos" title="Todos">Todos</a></li>
    <li class="ph4 di-l pv2 tl pv0-l"><a class="link dim white dib mr3" href="/docs/" title="Code Documentation" target="_blank">Docs</a></li>
    -->
  </ul>
</nav>
