<nav class="flex justify-between bb b--streamside-maroon bg-streamside-blue">
  <a class="link white-70 hover-white no-underline flex items-center pa3" href="/">
    Streamside Organics
  </a>
  <div class="flex-grow pa3 flex items-center">
    <!--
    <a class="f6 link dib white dim mr3 mr4-ns" href="/boxes">Boxes</a>
    -->
    <a class="f6 link dib white dim mr3 mr4-ns" href="/logout">Logout</a>
  <% if (user) { %>
    <span class="f6 link dib white dim mr3 mr4-ns"><%= user.username %></a>
  <% } %>
  </div>
</nav>
