.api {
  color: #2980B9;
}
.app {
  color: #E74C3C;
}
.components {
  color: #D35400;
}
.route {
  color: #229954;
}
.form {
  color: #16A085;
}
.webhook {
  color: #A93226;
}
.lib {
  color: #D68910;
}
tt, code, kbd, samp {
  font-size: 0.95em;
  padding: 1px;
}
h3.reference-title {
  margin-top: 1em;
}
#main {
  width: calc(100% - 320px);
}
nav {
  padding: 0px 10px 100px 10px;
  width: 320px;
}
nav h3 {
  margin-top: 15px;
  font-size: .85em;
}
.top-nav-wrapper {
  width: 320px;
}
nav>ul {
  padding: 0 0 0 5px;
}
nav>ul>li>a {
    margin-bottom: 0;
    padding: 0;
}
nav>ul>li.active a {
    color: #8E44AD;
    margin-bottom: 0;
}
nav ul a:hover, nav ul a:active {
    color: #8E44AD;
    margin-bottom: 0;
    padding-bottom: 0;
}
span.name-container {
  border-top: 1px solid gray;
}
