<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head'); %>
  </head>

  <body class="sans-serif w-100">

    <%- include('../partials/header-menu'); %>

    <!-- open main content -->
    <main class="w-100 bg-white black-70 center pt4">

      <div id="main"></div>
      <div id="app" class="pa4"></div>

    </main>
    <!-- close main content -->

    <%- include('../partials/footer'); %>

    <script src="/app.js"></script>
    <script src="/vendor.js"></script>
    <script>require('initialize');</script>

  </body>
</html>
