<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head'); %>
  </head>

  <body class="sans-serif w-100">

    <!-- open main content -->
    <main class="w-100 bg-white black-70 pt6 ph3 center">

      <form class="pt4 measure center" method="post" action="/login">
        <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
          <% if (error_message) { %>
            <div class="br2 pa2 dark-red ba b--dark-red bg-washed-red"><%= error_message %></div>
          <% } %>
          <legend class="f4 fw6 ph0 mh0">Please login to continue</legend>
          <div class="mt3">
            <label
              class="db fw6 lh-copy f6" 
              for="username">Username
            </label>
            <input
              class="pa2 input-reset ba bg-transparent w-100" 
              autocomplete="on"
              type="text" name="username"  id="username" />
          </div>
          <div class="mv3">
            <label class="db fw6 lh-copy f6" for="password">Password</label>
            <input
              class="b pa2 input-reset ba bg-transparent w-100"
              autocomplete="on"
              type="password" name="password"  id="password" />
          </div>
        </fieldset>
          <div class="">
            <input
              class="b ph3 pv2 input-reset ba b--black bg-transparent pointer f6 dib"
              type="submit" value="Sign in" />
          </div>
      </form>

    </main>
    <!-- close main content -->

  </body>
</html>
