<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head'); %>
  </head>

  <body class="sans-serif w-100">

    <%- include('../partials/header'); %>

    <!-- open main content -->
    <main class="w-80 bg-white black-70 center ma4">

      <h2 class="fw3 pt0 f4 f3-ns lh-title-ns ma0 fg-streamside-maroon">Things to do:</h2>

      <h3 class="fw3 pt4 f6 f5-ns lh-title-ns ma0 fg-streamside-maroon">Orders</h3>

      <dl class="lh-title pa4 mt0 f5">
        <dt class="b mb1">&middot; <span class="strike">Order file import</span> ✓</dt>
        <dd class="ml3 mb2">
          Provide functionality to import orders from BuckyBox csv files and the CSA xlsx spreadsheet.
          <br />NB: no delivery nor packing number on BuckBox csv file.
          <br /><b>Fix file type on windows</b>
        </dd>
        <dt class="b mb1">&middot; <span class="strike">Add individual orders</span> ✓</dt>
        <dd class="ml3 mb2">
          Provide functionality to add individual orders manually prior to export.
        </dd>
        <dt class="b mb1">&middot; Edit picking lists</dt>
        <dd class="ml3 mb2">
          Provide functionality to edit picking list prior to export.
        </dd>
        <dt class="b mb1">&middot; Add standard picking to picking lists</dt>
        <dd class="ml3 mb2">
          Add standard picking list to picking list.
        </dd>
        <dt class="b mb1">&middot; Packing lists</dt>
        <dd class="ml3 mb2">
          Look at Lilly's packing sheet.
        </dd>
        <dt class="b mb1">&middot; <span class="strike">Add http authentication to api calls.</span> ✓</dt>
        <dd class="ml3 mb2">
          Secure api and require authentication.
        </dd>
        <dt class="b mb1">&middot; <span class="strike">Synchronising orders from Shopify.</span> ✓</dt>
        <dd class="ml3 mb2">
          Provide method to sychronise all unfulfilled orders from Shopify orders.
        </dd>
        <dt class="b mb1">&middot; Delete individual orders</dt>
        <dd class="ml3 mb2">
          Provide functionality to remove individual orders prior to export.
        </dd>
        <dt class="b mb1">&middot; Edit individual orders</dt>
        <dd class="ml3 mb2">
          Provide functionality to edit individual orders.
        </dd>
        <dt class="b mb1">&middot; Order seach</dt>
        <dd class="ml3 mb2">
          Provide ability to search for particular orders.
        </dd>
        <dt class="b mb1">&middot; Ordering rows</dt>
        <dd class="ml3 mb2">
          Provide functionality to change row order prior to export.
        </dd>
      </dl>

      <h3 class="fw3 pt0 f6 f5-ns lh-title-ns ma0 fg-streamside-maroon">Boxes</h3>

      <dl class="lh-title pa4 mt0 f5">
        <dt class="b mb1">&middot; Boxes</dt>
        <dd class="ml3 mb2">
          Migrate box management to new platform.
        </dd>
      </dl>

    </main>
    <!-- close main content -->

    <%- include('../partials/footer'); %>

    <script src="/app.js"></script>
    <script src="/vendor.js"></script>
    <script>require('initialize');</script>

  </body>
</html>

